<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<!-- <script>
    $(function(){

        $("#send").on("click",function(){
            var msg1 = document.createElement("li");
            var iData = $('#msg').val();
            if(!iData)
            {
                alert("Add some chat");
            }
            else
            {
                msg1.innerHTML = iData;  
                msg1.style.color = "white";
                msg1.style.alignContent = "bottom";
                msg1.style.float = "right";
                msg1.style.clear = "right";
                msg1.style.backgroundColor = "purple";
                msg1.style.fontSize = "20px";
                msg1.style.width = "200px";
                msg1.style.margin = "10px";
                msg1.style.borderRadius = "5px";
                msg1.style.position= "relative";
                $('#msgContainer').append(msg1);
                var socket = io.connect('')            
            }
        });
    })
</script> -->

<style>
    * {
        box-sizing: border-box;
    }
    .chatinter {
        margin: 0px;
        border: 1px solid purple;
    }
    #msg{
        width: 100%;
        height: 30px;
        border: 1px solid purple;
    }
    #msg:active{
        border: 1px solid red;
    }
    #send{
        border: 1px solid purple;
        background-color: purple;
        color:white;
        height: 30px;
        width: 100% ;
    }
    #msgContainer::-webkit-scrollbar { width: 0 !important }
    #msgContainer {
    -ms-overflow-style: none;
}
</style>
    
<body>
    <div style="width: 400px; background-color: purple; height: 50px; "><p style="font-size: large; padding-top: 12px; text-align :center;color:white; width: 100%; ">Simple Chat App</p><input type="text" id="username"/><button type="submit" id="userSub">SUBMIT</button>
    </div>
    <div class="chatinter"> 
        <ul id="msgContainer" style="width:100%; height:400px; overflow-y: scroll; ">
        </ul>  
        <div id = "inputbody" style="width: 100%;">
            <input type="text" id="msg" autocomplete="off"><button id="send" >Send</button>
        </div>
    </div>
</div>
</body>
<script src="chat.js"></script>
</html>